:root {
	--padding: 30px;
	--options-height: 150px;
	--columns-count: 4;
	--columns-width: 1fr;
}

html,
body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: #19191a;
	font-family: sans-serif;
	font-size: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

iframe {
	width: 100%;
	height: 10000px;
	overflow: hidden;
}

input,
button {
	font-size: 16px;
	color: #ffffff;
	background: transparent;
	border: 1px solid #dc9999;
	padding: 10px 15px;
	border-radius: 4px;
}

input {
	width: 50%;
}

button {
	margin-right: 15px;
}

button:disabled {
	opacity: 0.3;
}

.field {
	padding: 0 0 16px;
}

.options {
	height: var(--options-height);
	padding: var(--padding);
}

.column-count {
	margin-right: 15px;
}

.columns {
	display: grid;
	grid-template-columns: 100px repeat(var(--columns-count), var(--columns-width));
	grid-gap: var(--padding);
	height: calc(100vh - var(--options-height));
	padding: 0 var(--padding);
	overflow-x: auto;
	overflow-y: hidden;
}

.column {
	height: calc(100vh - var(--options-height) - var(--padding));
	overflow: auto;

	/* Remove scrollbar on Firefox */
	scrollbar-width: none;
}

/* Remove scrollbar on Webkit/Blink browsers */
.column::-webkit-scrollbar {
	width: 0;
}

.nav-column--container {
	transform-origin: 0 0;
	width: 500%;
	height: 500%;
	transform: scale(0.2);
}

.nav-column--container iframe {
	pointer-events: none;
}
